.audio-configuration{
  user-select: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-configuration:hover{
  background-color: #3d3e45;
}

.audio-configuration-img{
  filter: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(213%) hue-rotate(175deg) brightness(88%) contrast(94%);
  height: 20px;
}

.crossed {
  height: 20px;
  width: 20px;
  position: absolute;
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 4px),
          rgba(35,36,40,1) calc(50% - 2px),
          rgba(255,0,0,1) 50%,
          rgba(35,36,40,1) calc(50% + 2px),
          rgba(0,0,0,0) calc(50% + 4px),
          rgba(0,0,0,0) 100%);
}