.connected-user{
  display: flex;
  padding: 1.3em 0;
  border-top: 1px solid #393c41;
  padding-left: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.connected-user:hover{
  background-color: #393c41;
}

.username-and-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.username{
  color: white;
  font-size: 1.2em;
}